**/target
**/bin
**/.metadata
**/.classpath
**/.project
**/.settings
**/.idea
**/*.iml
**/*.iws
**/.mymetadata
**/.myumldata
**/.settings
**/.project
**/.classpath
**/.idea
*.iml
*.iws
**/.DS_Store
**/.metadata
**/rebel.xml
**/logs
